*{
    margin:0;
    padding:0;
}
.photo {
    height: 30vh;
    border-radius: 200px;

}
.img_ln {
    height: 4vh;
    padding-top: 2vh;
}
.white {
    color:white;
}
.size {
    font-size: 2.5vh;
}
.coders {
    padding: 3vw;
    display: flex;
    justify-content: space-between;
}
.coder_column {
    display: flex;
    flex-direction:column ;
    align-items: center;     
}
.coder_column2 {
    display: flex;
    align-items: center;    
}
.columnText {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2vw;
}
.pad1 {
    padding-left: 2vw;
}
.pad2 {
    padding-right: 2vw;
}
body{
    margin: 0px;
}

footer{
    position: fixed;
    bottom: 0px;
    height: 90vh;
    width: 100%;
    background-color: #FF7F99;
}