* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}
body {
    
}

.main_body {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.main_body article {
    margin: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo_main img {
    object-fit: cover;
    border-radius: 255px 0px 255px 255px;
    width: 510px;
    height: 511px;
    overflow: hidden;
}

/*--------------------FONTS-------------------*/

.font1 {
    font-size: 71px;
    font-weight: 400;
    color: #FF7F99;
    line-height: 0.8em;
}

.font2 {
    font-size: 19px;
    font-weight: 600;
}

/*--------------------------------------------*/

.title {
    margin: 0 0 20px 0;
}

.button {
    margin: 20px 0 0px 0;
}

.button1 {
    width: 182px;
    height: 50px;
    font-size: 15px;
    border: none;
    border-radius: 31px;
    background-color: #FFCA41;
    padding: 1px;
    color: white;
}